<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
            h1,h2,h3,h4,h5,h6,div,p,span{font-family:helvetica;padding:0;margin:0;}
			input{width:150px;}
			#app{border:2px solid red;padding:10px 5px;}
			.comp_root{border:2px solid blue;padding:10px 5px}
			p{color:white;background:red}
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
    <script type='text/javascript' src='vue.js'></script>
    <title>Vue Emit Self Defined Event</title>
</head>
<body>
    <div id='app'>
        <h1>Parent DIV</h1>
        <comp v-on:relay='blip'></comp>
        <hr/>
        <p>{{content}}</p>
    </div>

    <template id='temp'>
        <div class='comp_root'>
            <h2>Component</h2>
            <input v-model='message'/>
            <button v-on:click='send'>Send Data</button>
        </div>
    </template>
    <script type='text/javascript'>
        // this is a global components
        var vm = Vue.component('comp',{
            template:'#temp',
            data: function(){
                return{
                    message:'I want to go to Vue P tag',
                }
            },
            props:[],
            methods:{
                send:function(){
                    this.$emit('relay', this.message)
                }
            },
        })
        var vm = new Vue({
            el: '#app',
            data:{
                content:"Waiting for data from component",
            },
            methods:{
                blip: function(args) {
                    this.content=args
                }
            }
        })
    </script>
</body>
</html>